* {
    text-decoration: none;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mainbody {
    background: url(./images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-decoration: none;
    color: black;
}

.back {
    font-size: 25px;
    padding: 10px;
}

.back:hover {
    color: aqua;
}

.main {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 250px 500px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}  

a {
    color: black;
}
.main :hover {
    color: aqua;
}

.history,
.storyline {
    width: 400px;
    height: 1000px;
    padding: 1rem 1rem;
    vertical-align: middle;
    display: inline-block;
    
}

.aboutbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    margin: auto;
    padding: auto;
    color: black;
    

    
}

.history h2,
.storyline h2 {
    text-align: center;
}

.phistory,
.pstoryline {
    border: 3px solid black;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 254, 254, 0.5);
}

.op1 img{
    text-align: center;
    width: 500px;
    height: 200px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

.aboutpage {
    background: url(./images/merry.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-decoration: none;
    background-attachment: fixed;
    
    
}

.aboutbody p {
    font-size: 25px;
}

.aboutbody h2 {
    font-size: 40px;
}

.characterspage {
    background: url(./images/strawcrew.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-decoration: none;
    background-attachment: fixed;
    
}

.wanted {
    width: 200px;
    height: 250px;
}

.char {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: none;
    align-content: center;
    text-align: center;
    align-items: center;
    
}

.char p {
    padding: 20px;
    max-width: 1000px;
    font-size: 25px;
    color: black;
    border: 3px solid black;
    border-color: black;
    background-color: rgba(255, 254, 254, 0.5);

}

.char img {
    border: 3px solid black;
}

.wantedcontainer {
    padding: 15px;
}

.crew {
    text-align: center;
    font-size: 50px;
    background-color: rgba(255, 254, 254, 0.5);

}

.fruitpage {
    background: url(./images/fruits.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-decoration: none;
    background-attachment: fixed;
}

.devfruit {
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

.devfruit h2 {
    font-size: 50px;
    background-color: rgba(255, 254, 254, 0.5);
    padding:0;
}

